*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background: #312e28;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    cursor: pointer;
}

.titulo{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px double #f2eee5;
}

.titulo h1{
    color: #f2eee550;
    padding: 10px 0;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f2eee5d8;  
}

.navegacao{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navegacao ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 300px;
    font-size: 18px;
    color: #f2eee5;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacao li:hover{
    color: #f2eee570;
}

.principal{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2eee5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #312e28;
}

.container{
    background-color: white;
    width: 650px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 2px 2px #b7844b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    width: 95%;
    padding: 15px;
}

img{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
}

footer{
    background-color: #312e28;
    padding: 15px;
    color: #f2eee5;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px){  
    body{
        background: #f2eee5;
    }

    header{
        margin-bottom: 30px;
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo{
        width: 200px;
    }

    .principal{
        height: auto;
    }

    .navegacao{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .navegacao ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navegacao li{
        padding: 8px;
        text-decoration: underline;
    }

    .container{
        width: 90%;
    }

    .texto{
        padding: 20px;
        width: 100%;
        font-size: 16px;
    }

    footer{
        margin-top: 30px;
        height: 70px;
        font-size: 18px;
        text-align: center;
    }
}